@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '../assets/fonts/Web/fonts.css';

body {
  color: #fff;
  font-family: 'Haas Grot Text Web';
}

img {
  border-radius: 4px;
}

/* Header */

header li,
footer li {
  position: relative;
}

header li:first-child {
  width: 40px;
  overflow: hidden;
}

header li:first-child a {
  display: flex;
  align-items: center;
  justify-content: center;
}

header li:first-child a img {
  visibility: hidden;
  position: absolute;
  width: 76px;
  max-width: unset;
}

header li:first-child:hover a span {
  visibility: hidden;
}

header li:first-child:hover a img {
  visibility: visible;
}

header li:not(:first-child)::before,
footer li::before {
  content: '';
  position: absolute;
  bottom: 12px;
  height: 1px;
  width: 0;
  background-color: #000;
  transition: width 0.3s ease-in-out;
}

footer li::before {
  bottom: 8px;
  background-color: #fff;
}

header li:not(:first-child):hover::before,
footer li:hover::before {
  width: 100%;
}

header .logo svg,
footer .logo svg {
  width: auto;
  height: 100%;
}

.home-banner svg {
  width: auto;
  height: 100%;
}

/* SignUp Email Form */
.signup-email {
  display: flex;
  justify-content: space-between;
  max-width: 480px;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
}

.signup-email input {
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  font-weight: 450;
  line-height: normal;
  letter-spacing: 0.45px;
  border: none;
  outline: none;
}

.signup-email .sign-up-btn {
  color: #fff;
  font-size: 15px;
  font-weight: 450;
  line-height: normal;
  letter-spacing: 0.45px;
  cursor: pointer;
}

/* Home - Our latest work */
.project-carousel .slick-slide {
  width: 490px !important;
}

/* Discover Projects */
.projects-grid {
  display: grid;
  grid-template-columns: 0.3fr 0.4fr 0.3fr;
  gap: 60px 5px;
}

/* Work */
.work-project-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Work Project */
.work-project .image-reveal img {
  filter: blur(10px);
  opacity: 0;
  transition: opacity 0.8s cubic-bezier(0, 0, 0.58, 1),
    filter 0.4s cubic-bezier(0, 0, 0.58, 1);
}

.work-project .image-reveal.reveal img {
  filter: blur(0);
  opacity: 1;
}

.next-project img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-clip-path: url(#next-project-image-mask);
  clip-path: url(#next-project-image-mask);
}

.next-project svg path {
  transform: scale(1)
    translate(calc((100vw - 660px) / 2), calc((100vh - 440px) / 2));
}

/* Underline animation */
.animate-underline {
  position: relative;
}

.animate-underline::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: #15341c;
  transition: width 0.3s ease-in-out;
}

.animate-underline:hover::before {
  width: 100%;
}

.projects-grid .animate-underline::before {
  bottom: -4px;
  background-color: #fff;
}

.work .animate-underline::before {
  bottom: -4px;
}

/* Scroll Reveal */
.scroll-reveal:not(.reveal) {
  opacity: 0;
}

@media (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .project-carousel .slick-slide {
    width: calc(100vw - 3.5rem) !important;
  }

  .projects-grid {
    grid-template-columns: 1fr;
    gap: 148px;
  }
}

/**
 * ----------------------------------------
 * animation reveal
 * ----------------------------------------
 */
.reveal {
  -webkit-animation: reveal 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: reveal 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
